
.ContainerPost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardLenguage {
    padding: 20px;
    margin: 20px;
    max-width: 300px;
    text-align: center;
}

.cardTitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.LanguageInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: .5px solid gray;
    border-radius: 4px;
    margin-top: 3px;
    letter-spacing: -.5px;
}

.selectedLanguage {
    font-size: 16px;
    font-style: italic;
}

.textAreaPost {
    resize: none;
    border-radius: 7px;
    padding: 1em;
    border: .5px solid gray;
    letter-spacing: -2px;
}

textarea {
    font-size: 22px;
}

.textAreaPost:focus {
    outline: none;
}

.BtnFormPost {
    margin-top: .5em;
    font-size: 18px;
    background-color: transparent;
    border: .5px solid gray;
    cursor: pointer;
    padding: .5em;
    transition: all 500ms;
    border-radius: 3px;
}

.BtnFormPost:hover {
    background-color: rgb(88, 88, 243);
    color: #fff;
}

.BtnFormPostDelete {
    margin-top: .5em;
    font-size: 18px;
    background-color: transparent;
    border: .5px solid gray;
    cursor: pointer;
    padding: .5em;
    transition: all 500ms;
    border-radius: 3px;
}

.BtnFormPostDelete:hover {
    background-color: rgb(237, 52, 52);
    color: #fff;
}

.ConatinerBtn {
    display: flex;
    gap: 1em;
}

.MessageError {
    color: rgb(237, 52, 52);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.5px;
    margin-top: 1em;
    text-transform:uppercase;
}